# Backend Related ENVs
VITE_BACKEND_URL_LOCAL="Local API Url"
VITE_BACKEND_URL_PROD="Production API Url"

#Frontend
VITE_CRYPTO_SECRET='Enter a secret value to encrypt data in frontend and decrypt it.'