.date-picker {
  all: unset;
  border: 1px solid #d6d7dc;
  padding: 7px 10px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
