body,
html {
	margin: 0;
}

.pointer {
	cursor: pointer;
}
.d-flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.h-full {
	height: 100%;
}
.container {
	width: 90%;
	margin: 0 auto;
}